body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --ms-w-color: #f0f2c0;

    --ms-u-color: #b5cde3;

    --ms-b-color: #aca29a;

    --ms-r-color: #db8664;

    --ms-g-color: #93b483;
    --ms-c-color: #beb9b2;
    --ms-m-color: #cca753;
}

body::before {
    background-image: url("scryfall.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: top;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    opacity: 0.1;
    content: " ";
    position: absolute;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    padding: 1em;
    height: 100%;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* font-size: calc(10px + 2vw); */
    color: white;
    height: 100%;
}

.activeQueryName {
    position: relative;
    color: #999;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #999;
    /* max-width: 220px; */
    margin: 0 auto 6px 0;
    padding: 0 0 6px 0;

    width: 100%;
    text-align: end;
}

.activeMaskName {
    position: relative;
    color: #999;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #999;
    /* max-width: 220px; */
    margin: 0 auto 6px 0;
    padding: 0 0 6px 0;

    width: 100%;
    text-align: end;
}

.pushDownSpacer {
    height: 1%;
}

.App .queryPartsContainer {
    /* max-height: 80%; */
    width: calc(100% + 1em);
    overflow-y: auto;
    scrollbar-width: thin;
    /* mask-image: linear-gradient(180deg, #000 90%, transparent 100%); */
    scrollbar-gutter: stable;

    /*ff thin scrollbar width*/
    padding-right: calc(1em - 8px);
}

.queryEditor {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 0.4em;
    margin-bottom: 0.4em;
}

.advanced-search-checkbox {
    width: 100%;
    margin: 0 16px 8px 0;

    height: unset;
    align-items: start;
}

.advanced-search-checkbox input[type="checkbox"] {
    margin-top: 1px;
}

.advanced-search-checkbox .textarea {
    flex-grow: 100;
    width: 100%;
    resize: none;
    white-space: pre-wrap;
    padding-bottom: 4px;
    padding-top: 4px;
}

.App button.remove {
    color: #786076;
    position: relative;
    margin: 0.2em 0 0.2em 0.5em;
}

.App button.remove:disabled {
    visibility: hidden;
}

.blueprint-icons {
    font-family: "blueprint-icons-16";
    margin-bottom: 0.2ex;
    margin-right: 0.2em;
    font-weight: normal !important;
}

.blueprint-icons-big {
    font-family: "blueprint-icons-20";
    margin-bottom: 0.2ex;
    margin-right: 0.2em;
    font-weight: normal !important;
}
