body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

body::before {
    background-image: url("scryfall.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: top;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    opacity: 0.1;
    content: " ";
    position: absolute;
}

#root {
    height: 100%;
}

.App {
    text-align: center;
    padding: 1em;
    height: 100%;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* font-size: calc(10px + 2vw); */
    color: white;
    height: 100%;
}

.activeQueryName {
    position: relative;
    color: #999;
    font-size: 12px;
    font-weight: bold;
    /* text-transform: uppercase; */
    border-bottom: 1px solid #999;
    max-width: 220px;
    margin: 0 auto 6px 0;
    padding: 0 0 6px 0;
}

.pushDownSpacer {
    height: 1%;
}

.App .queryEditor button {
    margin: 0.2em;
}

.advanced-search-checkbox {
    width: 100%;
    margin: 0 16px 8px 0;
}

.advanced-search-checkbox input[type="text"] {
    flex-grow: 100;
}

.App button.remove {
    color: #786076;
    position: relative;
    margin: 0.2em 0 0.2em 0.5em;
}

.App button.remove:disabled {
    visibility: hidden;
}

.advanced-search-checkbox input[type="checkbox"].locked:checked::before {
    /* lock */
    content: "\F232";
    font-family: "blueprint-icons-16";
    font-weight: 100;
    line-height: 0ex;
    margin-bottom: 0.4ex;
    font-size: 77%;
}

.App {
    --rct-color-tree-bg: #0000;
    --rct-color-tree-focus-outline: #0000;

    --rct-color-focustree-item-selected-bg: rgba(255, 255, 255, 0.15);
    --rct-color-focustree-item-selected-text: inherit;
    --rct-color-focustree-item-focused-border: rgba(255, 255, 255, 0.6);
    --rct-color-focustree-item-draggingover-bg: #ebf0f4;
    --rct-color-focustree-item-draggingover-color: inherit;

    --rct-color-nonfocustree-item-selected-bg: #786076;
    --rct-color-nonfocustree-item-selected-text: inherit;
    --rct-color-nonfocustree-item-focused-border: #dbdbdb;

    --rct-color-search-highlight-bg: #a2aed2;
    --rct-color-drag-between-line-bg: #947a92;
    --rct-color-arrow: #9aa5b3;

    --rct-item-height: 22px;

    --rct-color-renaming-input-submitbutton-bg: inherit;
    --rct-color-renaming-input-submitbutton-bg-hover: #947a92;
    --rct-color-renaming-input-submitbutton-bg-active: #ae7f9c;

    --rct-color-renaming-input-submitbutton-text: inherit;
    --rct-color-renaming-input-submitbutton-text-hover: #ffffff;
    --rct-color-renaming-input-submitbutton-text-active: #ffffff;
}

#clear-filter {
    position: absolute;
    right: 1em;
    background-color: transparent;
    border-color: transparent;
}


.rct-tree-root {
    font-family: Lato !important;
    margin-top: 1ex;
    width: 100%;
    height: 50%;
    overflow-y: auto;
    /* scrollbar-width: none;
  mask-image: linear-gradient(180deg, #000 60%, transparent 90%); */
}

.emojisymbols {
    font-family: "emojisymbols";
}

.blueprint-icons {
    font-family: "blueprint-icons-16";
    margin-bottom: 0.2ex;
    margin-right: 0.2em;
}

.blueprint-icons-big {
    font-family: "blueprint-icons-20";
    margin-bottom: 0.2ex;
    margin-right: 0.2em;
}

input.collections-filter::placeholder {
    font-family: "blueprint-icons-20";
    font-weight: 100;
}