#clear-filter {
    position: absolute;
    right: 1em;
    background-color: transparent;
    border-color: transparent;
}

input.collections-filter::placeholder {
    font-family: "blueprint-icons-20";
    font-weight: 100;
}

.App {
    --rct-color-tree-bg: #0000;
    --rct-color-tree-focus-outline: #0000;

    --rct-color-focustree-item-selected-bg: #786076bb;
    --rct-color-focustree-item-hover-bg: #78607644;
    --rct-color-focustree-item-selected-text: inherit;
    /* --rct-color-focustree-item-focused-border: rgba(255, 255, 255, 0.6); */
    --rct-color-focustree-item-focused-border: #0000;
    --rct-color-focustree-item-draggingover-bg: #ebf0f444;
    --rct-color-focustree-item-draggingover-color: inherit;

    --rct-color-nonfocustree-item-selected-bg: #786076bb;
    --rct-color-nonfocustree-item-selected-text: inherit;
    /* --rct-color-nonfocustree-item-focused-border: #dbdbdb; */
    --rct-color-nonfocustree-item-focused-border: #0000;

    --rct-color-search-highlight-bg: #a2aed2;
    --rct-color-drag-between-line-bg: #947a92;
    --rct-color-arrow: #9aa5b3;

    --rct-item-height: 22px;

    --rct-color-renaming-input-submitbutton-bg: inherit;
    --rct-color-renaming-input-submitbutton-bg-hover: #947a92;
    --rct-color-renaming-input-submitbutton-bg-active: #ae7f9c;

    --rct-color-renaming-input-submitbutton-text: inherit;
    --rct-color-renaming-input-submitbutton-text-hover: #ffffff;
    --rct-color-renaming-input-submitbutton-text-active: #ffffff;
}

.rct-tree-item-button-focused .itemTitleText {
    text-decoration: underline;
}

.rct-tree-root {
    font-family: Lato !important;
}

#treeContainer {
    margin-top: 1ex;
    width: 100%;
    height: 50%;
    overflow-y: auto;
    scrollbar-width: none;
    mask-image: linear-gradient(180deg, #000 90%, transparent 100%);
    min-height: 20%;
}

.rct-tree-item-renaming-input {
    font-family: inherit;
}

.rct-tree-item-renaming-submit-button-sfm {
    border: none;
    background-color: var(--rct-color-renaming-input-submitbutton-bg);
    color: var(--rct-color-renaming-input-submitbutton-text);
    cursor: pointer;
    padding: 0.3em;
}

.rct-tree-item-renaming-submit-button-sfm:hover {
    /* background-color: var(--rct-color-renaming-input-submitbutton-bg-hover); */
    color: var(--rct-color-renaming-input-submitbutton-text-hover);
}

.rct-tree-item-renaming-submit-button-sfm:active {
    /* background-color: var(--rct-color-renaming-input-submitbutton-bg-active); */
    color: var(--rct-color-renaming-input-submitbutton-text-active);
}

.line {
    margin: -1em 0.5em;
    width: 0;
    opacity: 0.5;
    height: 24px;
    padding: 0px 0px 0px 1px;
}

.line.depth0 {
    background: var(--ms-w-color);
}

.line.depth1 {
    background: var(--ms-u-color);
}

.line.depth2 {
    background: var(--ms-b-color);
}

.line.depth3 {
    background: var(--ms-r-color);
}

.line.depth4 {
    background: var(--ms-g-color);
}

.itemTitle {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    --itemMenuButtonOpacity: 0;
}

.rct-tree-item-title-container:hover,
.rct-tree-item-title-container.menuItem {
    background-color: var(--rct-color-focustree-item-hover-bg);
}

.itemTitle:hover,
.itemTitle.menuItem {
    --itemMenuButtonOpacity: 1;
}

.itemTitleText {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemMenuButton {
    opacity: var(--itemMenuButtonOpacity);
    padding: 0.4em;
    margin-bottom: 0;
}

/* mana symbols */
.itemTitle .ms {
    vertical-align: bottom;
}